<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/a707480b-6d14-45d4-bca3-b4ffc87e8487/compose?aspectRatio=1.78&format=webp&width=1200"
      height="200px"
      alt="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">bla bla bla bla asdsdasd dewfwefw evwef</a>
    </p>
  </div>
</div>
