<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [Id]="randomCharacter.id"
      [photoCover]="randomCharacter.thumbnail.path + '.' + randomCharacter.thumbnail.extension"
      [title]="randomCharacter.name"
      [description]="randomCharacter.description"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let character of characters"
      [Id]="character.id"
      [photoCover]="character.thumbnail.path + '.' + character.thumbnail.extension"
      [title]="character.name"
      >
    </app-small-card>
  </div>
</div>
